AUTH_SECRET=test-secret-key
AUTH_URL=http://localhost:3000

# Variables para conectar con Data Cloud vía JWT

# "Clave de consumidor" de tu Connected App
SF_CLIENT_ID=clave-de-consumidor-de-tu-connected-app

SF_USERNAME=tu-usuario-de-salesforce

SF_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nclave-privada-de-tu-private-key.pem\n-----END PRIVATE KEY-----"

SF_LOGIN_URL=https://login.salesforce.com